<?xml version="1.0"?>
<model>
    <name>Panda</name>
    <version>1.0</version>
    <sdf>panda.urdf</sdf>

    <author>
        <name>Hemanth Kumar</name>
        <email>hemanthkumark853@gmail.com</email>
    </author>

    <description>
        URDF model of the Franka Emika Panda robot.
    </description>
</model>
